p, form, fieldset, h1, h2, h3, h4, h5, h6{margin:0;padding:0}
fieldset{padding:10px 0}
img, fieldset{border:0}
legend{display:none}
label{font-weight:normal;cursor:pointer;cursor:hand}
a{color:#053799;text-decoration:none}
a:hover{text-decoration:underline}
.yregclb:after{content:".";display:block;font-size:0px;line-height:0;height:0;clear:both;visibility:hidden}
body{text-align:center;color:#333;margin:5px 0 0;padding:0}
#yregwp{text-align:left;margin:0 auto;width:750px}
#yregmst{margin:0 0 10px}
#yreglg{float:right;width:250px;margin:0 0 20px;}
#yregtxt{margin:0 270px 0 20px}
#yregtml #yregtxt{margin:0}
#yregft{text-align:center;font-size:77%;padding:10px 0 0;border-top:1px solid #777}
#yregtml #yregft {border-color:#dbd7db}
.yregbx{border:1px solid #656565;margin:0 0 10px;background-color:#f9f9f9} 
#yregtml #yreglg .yregbx {margin-right:10px;}
.yregbxi{margin:11px}
.top .yregbxi{margin-top:20px}
.ct, .ct .cl, .cb, .cb .cl{display:block;font-size:0;line-height:0;margin:0;height:4px;position:relative}
.ct, .cb{width:100%;right:-1px}
.ct .cl, .cb .cl{width:4px;left:-2px}
.ct{background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/reg/cr_gg_ne.gif) no-repeat top right;top:-1px}
.ct .cl{background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/reg/cr_gg_nw.gif) no-repeat top left}
.cb{background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/reg/cr_gg_se.gif) no-repeat bottom right;bottom:-1px}
.cb .cl{background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/reg/cr_gg_sw.gif) no-repeat bottom left}
#yreglg h1, #yreglg h2, #yreglg h3{font-size:114%;color:#333}
#yreglg h3{margin:0 0 4px}
#yreglg select, #yreglg input, #yreglg p, #yreglgtb td, #yreglgtb th{font-size:91%}
#yreglg p.yreglgsb input{font-size:107%}
#yreglg .yregnewssl, #yreglg .yreglgmd{font:77%/114% verdana}
#yreglg .yregnewssl{margin:-4px 0 10px}
#yreglg .yregnewssl span {color:#c00}
#yreglgtb, #yreglgtb td, #yreglgtb th, #yreglg .yreglgmd, .yreglgsu, .yreglgsb, .yreglgsut, .yregnewssl{text-align:right}
#yreglgtb {margin:0 0 8px;padding:0;width:215px}
#yreglgtb td, #yreglgtb th{width:215px}
#yreglgtb td select{width:124px}
#yreglgtb td{width:130px}
#yreglgtb td input{width:120px}
.yreglgsub{margin:15px 0 0 30px}
.yreglgsb{margin:12px 0 0}
.yreglgsut{margin:0 0 3px}
.yreglgsu a, .yreglgsut a{color:#039;font:bold 114%/114% arial;text-decoration:underline}
.yreglgsut a{font-size:122%;}
h2.yregdnt{margin:14px 0 0}
.yregdsilu{border-bottom:1px solid #999;margin:0 0 15px;padding:0 0 8px}
.yregdlisu, .yreglvpnu{border-top:1px solid #999;margin:15px 0 0;padding:14px 0 10px}
#yreglg .second h3{ font:bold 100% Arial;color:#333}
#yreglg .second p{font:76%/144% verdana}
#yregbnr{padding:23px 0 2px}
#yregbnr{border-bottom:18px solid #e1f0fd}
.yregbnrimg{float:left;width:204px}
#yregbnrt{margin:0 0 0 206px; padding:14px 270px 0 20px;background:#9acef7 url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_lb_ne.gif) no-repeat top right}
#yregbnrti{height:auto;padding-top:159px;}
#yregbnrtii{margin-top:-159px}
#yregbnrtii p{color:#fff;padding:0 0 5px}
#yregbnrtii a{color:#fff;font-weight:bold}
@media all and (min-width: 0px){html>body #yregbnrti{min-height:1px}} /*Opera 7*/
#yregiclst{margin:0 0 10px;padding:0 270px 0 0}
#yregiclst .ic{margin:18px 0 0;padding:0}
#yregiclst h3{font:normal 122%/152% verdana;color:#64236a}
#yregiclst cite{font-style:normal;line-height:129%}
#yregiclst a{color:#3385d6}
#yregintusr{margin:0 0 20px;}
#yregintusr h4{font-size:100%;margin:0 0 4px;color:#333;font-family:arial}
#yregintusr select, #yregintusr input{font-size:92%}
.hiddenlayer{display:none}
.showlayer{display:block}
#hl_banner, #hl_list, #h2_list{position:absolute; width:470px;z-index:1000;background-color:#ccc}
.yreginhdly{position:relative;z-index:1;right:2px;bottom:2px; padding:2px; background-color:#fff;border:1px solid #61a7de;color:#333;font-family:verdana}
.yreginhdly ul{margin:5px 0 1em; padding:0 0 0 30px}
.yreginhdly li{margin:0;font-size:77%; list-style-type:square}
.yreginhdly h4{margin:0 0 10px;padding:4px 10px;background:#61a7de;color:#fff;font:bold 77% verdana;text-transform:uppercase}
#yregtml .yreginhdly p{color:#333;padding:0 9px 1em;font:normal 77%/120% verdana}
#yregtml .yreginhdly p strong{color:#00587A}
#yregtml .close a{color:#fff}
#yregtml #yregbnrtii .yreginhdly p{color:#333}
p.close{margin:5px 0 0;font-size:77%;line-height:100%;position:absolute;top:2px;right:10px}
.yreglegal{font-style:italic}
.yregnlnk{text-decoration:underline;cursor:pointer;cursor:hand}
.knob{position:absolute;top:-6px;_top:-5px;width:13px;height:8px;background:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_lb.gif) no-repeat top left}
#hl_banner .knob{left:255px}
#hl_list .knob{left:40px}
#h2_list .knob{left:170px}
.lblue #yregbnrt{background-color:#9acef7;background-image:http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_lb_ne.gif}
.lblue #yregbnr{border-color:#e1f0fd}
.lblue #yregbnrtii p{color:#f5fafe}
.lblue #yregbnrtii a{color:#144f7c}
.lblue .yreginhdly{border-color:#61a7de}
.lblue .yreginhdly h4{background:#61a7de}
.lblue .knob{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_lb.gif)}
#yregtml .lblue .showlayer p strong{color:#61a7de} 
.lgreen #yregbnrt{background-color:#9dc338;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_lg_ne.gif)}
.lgreen #yregbnr{border-color:#e1edc3}
.lgreen #yregbnrtii p{color:#f5f9eb}
.lgreen #yregbnrtii a{color:#0f7048}
.lgreen .yreginhdly{border-color:#bbda68}
.lgreen .yreginhdly h4{background:#bbda68}
.lgreen .knob{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_lg.gif)}
#yregtml .lgreen .showlayer p strong{color:#0f7048}
.bluegreen #yregbnrt{background-color:#74b46a;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_bg_ne.gif)}
.bluegreen #yregbnr{border-color:#d5e8d2}
.bluegreen #yregbnrtii p{color:#f1f8f0}
.bluegreen #yregbnrtii a{color:#f9faaf}
.bluegreen .yreginhdly{border-color:#94c78c}
.bluegreen .yreginhdly h4{background:#94c78c}
.bluegreen .knob{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_bg.gif)}
#yregtml .bluegreen .showlayer p strong{color:#0f7048}
.rootbeer #yregbnrt{background-color:#894611;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_rb_ne.gif)}
.rootbeer #yregbnr{border-color:#dbc7b7}
.rootbeer #yregbnrtii p{color:#fff2cb}
.rootbeer #yregbnrtii a{color:#f9faaf}
.rootbeer .yreginhdly{border-color:#b99b83}
.rootbeer .yreginhdly h4{background:#b99b83}
.rootbeer .knob{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_rb.gif)}
#yregtml .rootbeer .showlayer p strong{color:#894611}
.orange #yregbnrt{background-color:#f7582e;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_or_ne.gif)}
.orange #yregbnr{border-color:#fdcdc0}
.orange #yregbnrtii p{color:#feefeb}
.orange #yregbnrtii a{color:#f1e27b}
.orange .yreginhdly{border-color:#ff9678}
.orange .yreginhdly h4{background:#ff9678}
.orange .knob{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_or.gif)}
#yregtml .orange .showlayer p strong{color:#c83b13}
.deepblue #yregbnrt{background-color:#016a99;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_db_ne.gif)}
.deepblue #yregbnr{border-color:#b2d2e0}
.deepblue #yregbnrtii p{color:#e7f1f3}
.deepblue #yregbnrtii a{color:#fdc266}
.deepblue .yreginhdly{border-color:#1c86ae}
.deepblue .yreginhdly h4{background:#1c86ae}
.deepblue .knob{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_db.gif)}
#yregtml .deepblue .showlayer p strong{color:#036999}
.purple #yregbnrt{background-color:#a566ad;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_pr_ne.gif)}
.purple #yregbnr{border-color:#e4d1e6}
.purple #yregbnrtii p{color:#f6f0f7}
.purple #yregbnrtii a{color:#fdc266}
.purple .yreginhdly{border-color:#c799cc}
.purple .yreginhdly h4{background:#c799cc}
.purple .knob{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_pr.gif)}
#yregtml .purple .showlayer p strong{color:#a566ad}
.yellow #yregbnrt{background-color:#ff9700;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_yl_ne.gif)}
.yellow #yregbnr{border-color:#ffe0b2}
.yellow #yregbnrtii p{color:#fff5e6}
.yellow #yregbnrtii a{color:#016a99}
.yellow .yreginhdly{border-color:#efae4d}
.yellow .yreginhdly h4{background:#efae4d}
.yellow .knob{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_yl.gif)}
#yregtml .yellow .showlayer p strong{color:#916714}
.oxblood #yregbnrt{background-color:#900000;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymbnr_ob_ne.gif)}
.oxblood #yregbnr{border-color:#ddb2b2}
.oxblood #yregbnrtii p{color:#f4e6e6}
.oxblood #yregbnrtii a{color:#ff9700}
.oxblood .yreginhdly{border-color:#800000}
.oxblood .yreginhdly h4{background:#800000}
.oxblood .knob{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/reg/ymknb_ob.gif)}
#yregtml .oxblood .showlayer p strong{color:#900000}
#yregtml .mailplus{padding-right:160px;background:url(http://us.i1.yimg.com/us.yimg.com/i/us/pim/pr/trap/lo_mailplus_1.gif) no-repeat 360px  50%; height:auto;padding-top:36px}
#yregtml .mailplus div{margin-top:-36px}
#yregtml .spamguard{padding-right:113px;background:url(http://us.i1.yimg.com/us.yimg.com/i/reg/sp_sguard60_2.gif) no-repeat 407px 50%;height:auto;padding-top:52px}
#yregtml .spamguard div{margin-top:-52px}
#yregtml .addressbook{padding-right:152px;background:url(http://us.i1.yimg.com/us.yimg.com/i/us/pim/sp/qb_xsmdiagram1.gif) no-repeat 368px 50%;height:auto;padding-top:50px}
#yregtml .addressbook div{margin-top:-50px}
#yregtml .messenger{padding-right:120px;background:url(http://us.i1.yimg.com/us.yimg.com/i/us/pim/sp/mantle/sp_msgr60_1.gif) no-repeat 400px 50%;height:auto;_height:60px;padding-top:60px;_padding-top:0}
#yregtml .photos{padding-right:130px;background:url(http://us.i1.yimg.com/us.yimg.com/i/us/pim/sp/mantle/sp_photos_1.gif) no-repeat 390px 50%;height:auto;_height:60px;padding-top:60px;_padding-top:0}
#yregtml .mobile{padding-right: 113px; background:url(http://us.i1.yimg.com/us.yimg.com/i/us/pim/sp/mantle/sp_mobile_1.gif) no-repeat 407px 50%;height:auto;_height:60px;padding-top:60px;_padding-top:0}
#yregtml .antivirus{padding-right:135px;background:url(http://us.a1.yimg.com/us.yimg.com/a/sy/symantec/102004_nav2005_79x22.gif) no-repeat 385px 50%; height:auto;_height:22px;padding-top:22px;_padding-top:0}
#yregtml .cnet{padding-right:110px;background:url(http://us.i1.yimg.com/us.yimg.com/i/reg/EC_aug04_39x72.gif) no-repeat 410px 50%;height:auto;_height:72px;padding-top:72px;_padding-top:0}
#yregtml .cnet div{margin-top:-72px;_margin-top:0}
#yregtml .pcmag{padding-right:115px;background:url(http://us.i1.yimg.com/us.yimg.com/i/us/pim/lgn/ymail_ec_logo_1.gif) no-repeat 405px 50%;height:auto;padding-top:94px;}
#yregtml .pcmag div{margin-top:-94px;}
#yregtml #yregiclst .ic{margin-bottom:20px;min-height:1px}
@media screen {
	.bkgimage {width: 300px; height: 300px; border: dashed solid black; background: url('../sub/test1.gif');}
}